@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,WONK@9..144,1&family=Montserrat&display=swap');
@media only screen and (min-width: 480px) {
    .mobile-only {
        display:none !important;
    }
} 

@media only screen and (max-width: 480px) {
    .desktop-only {
        display:none !important;
    }
} 

:root{
    --color-Green500: hsl(158, 36%, 37%);
    --color-Green700: hsl(158, 42%, 18%);
    --color-Black: hsl(212, 21%, 14%);
    --color-Grey: hsl(228, 12%, 48%);
    --color-Cream: hsl(30, 38%, 92%);
    --color-White: hsl(0, 0%, 100%);

    --space-500: 2.86rem;
    --space-400: 2.29rem;
    --space-300: 1.71rem;
    --space-200: 1.14rem;
    --space-100: 0.571rem;
    --space-50: 0.286rem;
    font-size: 14px;
}

.text_presset1{
    font-family: "Fraunces", sans-serif;
    font-size: 2.29rem;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: bold;
    color: var(--color-Black);
    text-decoration: none;
}

.text_presset2{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0;
    font-weight: bold;
    color: var(--color-White);
    text-decoration: none;
}

.text_presset3{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-Grey);
    text-decoration: none;
}

.text_presset4{
    font-family: "Montserrat", sans-serif;
    font-size: .857rem;
    line-height: 120%;
    letter-spacing: .357rem;
    font-weight: 400;
    color: var(--color-Grey);
    text-decoration: none;
    text-transform: uppercase;
}

.text_presset5{
    font-family: "Montserrat", sans-serif;
    font-size: .929rem;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-Grey);
    text-decoration:line-through;
}

h1,h2{
    margin: 0;
}

body{
    background-color: var(--color-Cream);
    margin: 0;
    *{margin: 0;}
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: var(--color-White);
    border-radius: 0.571rem;
    width:  fit-content;
    height: fit-content;
}

.product {
    padding: var(--space-400);
    section + section{
        margin-top: var(--space-400);
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 1vh .5vw;
    }
    .card {
        width: 25rem;
        height: 53.57rem;
        margin: 0;
    }
    .product {
        padding: var(--space-400);
        section + section{
            margin-top: var(--space-300);
        }
    }
}

@media screen and (min-width: 480px) {
    .card{
        display: flex;
        max-width: 42.8575rem;
        max-height: 32.5715rem;
    }
}

.product-image{
    img.mobile-only{
        width: 100%;
        height: 24.428571428571427rem;
        border-radius: 0.571rem 0.571rem 0 0;
    }
    img.desktop-only{
        width: 21.4rem;
        height: auto;
        border-radius: 0.571rem 0 0 0.571rem;
    }
}

.product-info{
    *{
        margin-top: var(--space-300);
    }
    *:first-child{
        margin-top: 0;
    }
}

.product-price{
    display: flex;
    width: 100%;
    height: fit-content;
    .text_presset1{
        color: var(--color-Green500);
        margin-right: 1.142rem;
    }
    .text_presset5{
        padding-top: .5rem;
    }
}

.cart{
    border-radius: 0.571rem;
    transition-duration: .4s;
    background-color: var(--color-Green500);
    display: flex;
    width: auto;
    height: fit-content;
    padding: 1.142rem 2.285rem;
    justify-content: center;
    img{
        width: 1.285rem;
        height: 1.285rem;
        margin-right: 0.571rem;
    }
}
.cart:hover{
    transition-duration: .2s;
    background-color: var(--color-Green700);
}